@import '../mixins/responsive';
@import '../variables/colors';

.alert {
  background: $cover-color;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .modal {
    @include large-screen {
      max-width: 50%;
    }

    background: $white-color;
    border: 1px solid $grey-color;
    margin: 10% auto 0;
    max-width: 80%;
    padding: 1rem;
    z-index: 10;

    button {
      @include large-screen {
        margin: 1rem 0 0 80%;
      }

      margin: 1rem 0 0 60%;
    }
  }
}
