@import '../mixins/responsive';
@import '../variables/colors';

.document-card {
  @include large-screen {
    margin: .5rem 0;
    padding: 1rem 1.5rem;
    width: 100%;
  }

  border: 1px solid $grey-color;
  margin: .5rem 0 0;
  padding: .5rem;

  h3 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  span {
    line-height: 32px;
    vertical-align: middle;
  }
}
