button,
.button {
  background-color: $primary-color;
  border: 1px solid $grey-color;
  display: block;
  padding: .5rem 1.5rem;
  text-align: center;

  &:hover,
  &:active {
    background-color: shade($primary-color, 10%);
  }
}
