// TODO seems to be a bug with webpack/sass-loader
// sass should know how to resolve _index automatically
// https://sass-lang.com/documentation/file.SASS_REFERENCE.html#index_files
@import 'functions/_index';
@import 'mixins/_index';
@import 'variables/_index';
@import 'util/_index';

@import 'elements/_index';

body {
  padding: 5%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  margin-bottom: 0.5rem;
}

@include large-screen {
  body {
    padding: 2% 0;
  }

  header {
    margin-bottom: 2.25rem;
  }

  aside {
    h4 {
      text-align: right;
    }
  }
}
